<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ThirdPartyImageConverter" value="\third_party_image_converter\NConvert.exe"/>
    <add key="ThirdPartyImageConverterHelpFile" value="\third_party_image_converter\Help.txt"/>
    <add key="ThirdPartyImageConverterCommandArgsExportFormat" value="-out {text} -overwrite -quiet -D {file_name}"/>
    <add key="ThirdPartyImageConverterCommandArgsConvertImportToBitmap" value="-out bmp -overwrite -quiet -D {temp}"/>
    <add key="SuppressThirdPartyImageConverterWarningMessage" value="false"/>
    <add key="PromptForDestinationFolder" value="false"/>
    <add key="AutoOpenDestinationFolder" value="true"/>
    <add key="PreservePallette" value="false"/>
    <add key="TileOutlineWidth" value="2"/>
    <add key="DistanceBetweenFrames" value="3"/>
    <add key="ExportedOptionsFileFormat" value="png"/>
    <add key="ExportedOptionsMakeBackgroundTransparent" value="true"/>
  </appSettings>
</configuration>